<!-- part 1 -->

<section class="contact-us container">
  <div class="contact-us__social" style="background-color: gold; height: 100px">
    icons
  </div>
  <div
    class="contact-us__icons"
    style="background-color: violet; height: 100px"
  >
    number ,address
  </div>
  <div class="contact-us__map" style="background-color: tomato; height: 100px">
    map
  </div>
  <div class="contact-us__form" style="background-color: orange; height: auto">
    form
  </div>
</section>

<!-- part 2 -->

<section class="contact-us container">
  <div class="contact-us__social">
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#telegram"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
      </svg>
    </span>
  </div>
  <div class="contact-us__icons">
    <div class="icon-holder">
      <span class="icon-holder__lable">09398257750</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#Calling"></use>
        </svg>
      </span>
    </div>
    <div class="icon-holder">
      <span class="icon-holder__lable">amir@example.com</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#Message"></use>
        </svg>
      </span>
    </div>
    <div class="icon-holder">
      <span class="icon-holder__lable">تهران نازی اباد</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#Location"></use>
        </svg>
      </span>
    </div>
  </div>
  <div class="contact-us__map">
    <img src="/assets/images/map.png" alt="map" />
  </div>
  <div class="contact-us__form">
    <div class="form-wrapper">
      <h3 class="form-title">نظرات شما</h3>
      <form>
        <input
          type="text"
          class="form-text"
          placeholder="نام و نام خانوادگی"
        />
        <input
          type="email"
          class="form-email"
          placeholder="ایمیل خود را وارد کنید"
          dir="ltr"
        />
        <textarea
          name="form"
          id="form-textbox"
          cols="30"
          rows="10"
        ></textarea>
        <button class="btn btn--primary" type="submit">ثبت</button>
      </form>
    </div>
  </div>
</section>