<div class="box--plan container">
  <div class="box box--secondary">
    <header class="box__header">
      <div class="header__top">
        <span class="header__1">عادی</span>
        <span class="badge">10% OFF</span>
      </div>
      <span class="header__2">290,000</span>
      <span class="header__22">تومان/ماهیانه</span>
      <span class="header__3">سرویس ماشین های معمولی</span>
    </header>
    <div class="box__body">
      <ul class="list list--tick">
        <li class="list__item">کیفیت معمولی</li>
        <li class="list__item">کیفیت معمولی</li>
        <li class="list__item">کیفیت معمولی</li>
        <li class="list__item">کیفیت معمولی</li>
      </ul>
      <button class="btn btn--secondary btn--black">ثبت سفارش</button>
    </div>
  </div>
  <div class="box box--primary box--popular">
    <header class="box__header">
      <div class="header__top">
        <span class="header__1">اقتصادی</span>
        <span class="badge badge--primary">15% OFF</span>
      </div>
      <span class="header__2">390,000</span>
      <span class="header__22">تومان/ماهیانه</span>
      <span class="header__3">سرویس ماشین های کلاسیک</span>
    </header>
    <div class="box__body">
      <ul class="list list--tick">
        <li class="list__item">کیفیت عالی</li>
        <li class="list__item">کم سر و صدا</li>
        <li class="list__item">زمان محدود</li>
        <li class="list__item">سرویس روزانه</li>
      </ul>
      <button class="btn btn--primary--color-primary btn--black">
        ثبت سفارش
      </button>
    </div>
  </div>
  <div class="box box--secondary">
    <header class="box__header">
      <div class="header__top">
        <span class="header__1">ویژه</span>
        <span class="badge badge">20% OFF</span>
      </div>
      <span class="header__2">490,000</span>
      <span class="header__22">تومان/ماهیانه</span>
      <span class="header__3">سرویس ماشین های مدل بالا</span>
    </header>
    <div class="box__body">
      <ul class="list list--tick">
        <li class="list__item">کیفیت خیلی خفن</li>
        <li class="list__item">بی سروصدا</li>
        <li class="list__item">زمان نامحدود</li>
        <li class="list__item">سرویس نامحدود</li>
      </ul>
      <button class="btn btn--secondary btn--black">ثبت سفارش</button>
    </div>
  </div>
</div>
